rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /docs_entregas/{docId} {
      allow read, write: if true;
    }
    match /docs_funcionarios/{docId} {
      allow read, write: if true;
    }
    match /docs_veiculos/{docId} {
      allow read, write: if true;
    }
    match /docs_faturamento/{docId} {
      allow read, write: if true;
    }
    match /docs_mot_devolucao/{docId} {
      allow read, write: if true;
    }
    match /pipeline_results/{docId=**} {
      allow read, write: if true;
    }

    // Permite a leitura da coleção 'usage' pelo frontend
    match /usage/{usageDoc} {
      allow read: if true;
      allow write: if false;
    }
    
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
